a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --darkGreen: #0D5902;
  --lightGreen: #179903;
  --actionGreen: #265202;
}
