a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --darkGreen: #073b01;
  --lightGreen: #0f5f02;
  --actionGreen: #265202;
}
